* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf");
}

.info ion-labe {
  font-family: "SourceSansPro-Regular";
}

ion-button {
  padding-top: 12px;
}
