* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf");
}

.title {
  font-family: "SourceSansPro-Regular";
}

.calendar {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 80px;
}
