<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar>
    <img src="./assets/images/person-outline.svg" />
  </ion-avatar>
  <div class="card">
    <ion-card>
      <div class="card-info">
        <ion-card-header>
          <ion-card-title>
            <ion-input
              type="text"
              placeholder="Nombre"
              [(ngModel)]="user.userName"
            ></ion-input>
            <ion-input
              type="text"
              placeholder="Apellidos"
              [(ngModel)]="user.userLastName"
            ></ion-input>
            <b>{{userName}} {{userLastName}}</b>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            {{userEmail}}
          </div>
        </ion-card-content>
      </div>
    </ion-card>
  </div>
  <ion-button
    expand="block"
    color="warning"
    (click)="setUserName()"
    size="large"
  >
    Guardar
  </ion-button>
</ion-content>
