<ion-header translucent>
  <ion-toolbar color="warning"> </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-items-center">
        <img class="img" src="../../assets/images/logoHarena.svg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button href="/old-person-list/" expand="block" color="warning">
          <ion-icon
            id="icon-button"
            name="accessibility-outline"
            slot="start"
            color="light"
          ></ion-icon>
          <ion-label>Personas Mayores</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button href="/volunteers-list/" expand="block" color="warning">
          <ion-icon
            id="icon-button"
            name="person-outline"
            slot="start"
            color="light"
          ></ion-icon>
          <ion-label>Voluntarios</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button href="/report-list/" expand="block" color="warning">
          <ion-icon
            id="icon-button"
            name="clipboard-outline"
            slot="start"
            color="light"
          ></ion-icon>
          <ion-label>Reporte</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
