* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf");
}

a {
  display: flex;
  justify-content: center;
}

.card {
  padding: 12px;
}

.img {
  padding-top: 32px;
}

ion-button {
  margin: 16px;
  border-radius: 10%;
  font-family: "SourceSansPro-Regular";
  font-size: 20px;
}

#icon-button {
  margin: 4px;
}

.btn1 {
  padding-top: 40px;
}
.btn3 {
  padding-bottom: 40px;
}
