* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf");
}

ion-button {
  margin: 16px;
  border-radius: 10%;
  font-family: "SourceSansPro-Regular";
}

#icon-button {
  margin: 4px;
}
